page-about {
  ion-card {
     position: relative;
     text-align: center;
     height: 240pt;
   }

   .text{
     height: 130pt;
   }

   .card-title {
   top: 36%;
   font-size: 20px;
   width: 100%;
   font-weight: bold;
 }

 .card-subtitle {
   font-size: 1.0em;
   position: absolute;
   top: 52%;
   width: 100%;
   color: #fff;
 }


}
